[submodule "s1"]
	path = s1
	url = git@github.com:fabiansepcke/s1.git
[submodule "s2"]
	path = s2
	url = git@github.com:fabiansepcke/s2.git
[submodule "s3"]
	path = s3
	url = git@github.com:fabiansepcke/s3.git
[submodule "s4"]
	path = s4
	url = git@github.com:fabiansepcke/s4.git
